{% load static %}

<!doctype html>
<html lang="fr">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Dashboard - RenovateEnergy (Static)</title>
	<script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
	<link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
	<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
	<link href="https://fonts.googleapis.com" rel="preconnect" />
	<link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect" />
	<link
		href="https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&family=Inter:wght@400;500;600;700&display=swap"
		rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap"
		rel="stylesheet" />
</head>

{% block content %}{% endblock %}

<!-- Main Application Entry Point uses ES Modules -->
	<script type="module" src="{% static 'js/controllers/mainController.js' %}"></script>
</body>

</html>